/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}*/
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);

body{
  font-size: 12pt;
  font-family: Cuprum, Tahoma, Verdana, Arial, Helvetica;
  background-color: #E8E4D0;
}
input		{
  font-size:  10pt;
	background-color: #7BBDD0;
	color: darkblue;
	padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  vertical-align: middle;
}
input.number{
	text-align: right;
}
table{
  font-size: 8pt;
	/*background-color: #B1E478;*/
  border-collapse: collapse;
	border: 1px solid #50643B;

  font-size: 8pt;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  border-color: #606060;
  background-color:#DFD5BD;
}
table CAPTION{
  font-size: 12pt;
  text-align: center;
	background-color: #B1E478;
  /*color: #B1E478;*/

  background-color:#CEBD9B;
  font-size: 12pt;
  text-align: center;

}
table TH{
  font-size: 12pt;
  background-color: #50643B;
  background-color: #50743b;
/*  border-width: 1px;*/
/*  border-style: solid;*/
  text-align: center;

  background-color: #E8D8BF;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
table TD{
  font-size: 10pt;
  /*font-family: Tahoma, Verdana, Arial, Helvetica;*/
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
	  background-color:#CEBD9B;
}
/*table td{
  border-style: none;
  border-width: 0px;
}*/
table#users{
	width: 400px;
}
fieldset{
	margin: 1px;
	padding: 1px;
}

.nav-top {
	/*position: fixed;*/
	top: 0px;
	padding-bottom: 30px;
}
.errors{
  background-color:#ffebec;
  color:#A00;
  /*border:#f00 solid 1px;*/
	list-style: none;
	margin: 1px;
	padding: 1px;
}
.error{
  background-color:#FCC;
  color:#A00;
/*  border:#f00 solid 1px;*/
	list-style: none;
	margin: 1px;
	padding: 1px;
}
.infos{
	background-color:#ccffcc;
  color:#005312;
  /*border:#f00 solid 1px;*/
	list-style: none;
	margin: 1px;
	padding: 1px;
}
.info{
	background-color:#B1E478;
  color:#005312;
/*  border:#f00 solid 1px;*/
	list-style: none;
	margin: 1px;
	padding: 1px;
}
.panel-clear{
  clear:both;
  width:100%;
  height:0px;
}
.raport{
	margin: auto;
	width: 90%;
	background-color: #FCC;
/*	padding: 10px;
	padding-top: 2px;*/
}
.raport .title{
	font-size: 20px;
	text-align: center;
	background-color: #00ff66;
}
.raport .body{
	margin: 15px;
}
.raport .dl-raport{
	float: left;
}
.raport .dl-raport .title{

}
.raport .dl-raport .body{

}
.raport .json-raport{
}
.raport .json-raport .title{

}
.raport .json-raport .body{

}