.artykul{
	font-family: 'Old Standard TT', serif;
}
.miernik{
	font-family: 'Source Code Pro', sans-serif;
}
.liczba{
	font-family: 'Source Code Pro', sans-serif;
}
.adnotacja {
	font-family: 'Cuprum', sans-serif;
}
.kwota {
	font-family: 'Cuprum', sans-serif;
}

#pomiary {
	width: 500px;
	margin: 0 auto;
	display: flex;
}
#pomiary #inputs{
	margin: 5px;
}
#pomiary #variables{
	margin: 5px;

}
#pomiary #outputs{
	margin: 5px;

}