{% extends "PjplScadaBundle::window.html.twig" %}


{% block body %}
	<div id="pomiary">
		<div id="inputs">
			<table>
				<tbody>
					<tr><td>wejście 0</td><td><input type="checkbox" name="I_0_0" id="i-0-0" disabled="disabled"></td></tr>
					<tr><td>wejście 1</td><td><input type="checkbox" name="I_0_1" id="i-0-1" disabled="disabled"></td></tr>
					<tr><td>wejście 2</td><td><input type="checkbox" name="I_0_2" id="i-0-2" disabled="disabled"></td></tr>
					<tr><td>wejście 3</td><td><input type="checkbox" name="I_0_3" id="i-0-3" disabled="disabled"></td></tr>
					<tr><td>wejście 4</td><td><input type="checkbox" name="I_0_4" id="i-0-4" disabled="disabled"></td></tr>
					<tr><td>wejście 5</td><td><input type="checkbox" name="I_0_5" id="i-0-5" disabled="disabled"></td></tr>
					<tr><td>wejście 6</td><td><input type="checkbox" name="I_0_6" id="i-0-6" disabled="disabled"></td></tr>
					<tr><td>wejście 7</td><td><input type="checkbox" name="I_0_7" id="i-0-7" disabled="disabled"></td></tr>
				</tbody>
			</table>
		</div>
		<div id="variables">
			<table>
				<tbody>
					<tr>
						<td>zmienna Byte </td>
						<td>
							<input type="text" data-mem-type="D" data-var-type="1" data-var-code="0" class="liczba byte" id="d-byte-input" size="8"/>
							<button data-name="D_Byte" id="D-Byte-set">Ustaw</button>
						</td>
					</tr>
					<tr>
						<td>zmienna Int  </td>
						<td>
							<input type="text" data-mem-type="D" data-var-type="2" data-var-code="1"   class="liczba int"  id="d-int-input"  size="8"/>
							<button data-name="D_Int" id="D-Int-set">Ustaw</button>
						</td>
					</tr>
					<tr>
						<td>zmienna DInt </td>
						<td>
							<input type="text" data-mem-type="D" data-var-type="3" data-var-code="2"  class="liczba dint" id="d-dint-input" size="8"/>
							<button data-name="D_DInt" id="D-DInt-set">Ustaw</button>
						</td>
					</tr>
					<tr>
						<td>zmienna Real </td>
						<td>
							<input type="text" data-mem-type="D" data-var-type="4" data-var-code="3"  class="liczba real" id="d-real-input" size="8"/>
							<button data-name="D_Real" id="D-Real-set">Ustaw</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="outputs">
			<table>
				<tbody>
					<tr><td>wyjście 0</td><td><input type="checkbox" name="Q_0" id="q-0-0" class="output" data-port="0" data-bit="0"></td></tr>
					<tr><td>wyjście 1</td><td><input type="checkbox" name="Q_1" id="q-0-1" class="output" data-port="0" data-bit="1"></td></tr>
					<tr><td>wyjście 2</td><td><input type="checkbox" name="Q_2" id="q-0-2" class="output" data-port="0" data-bit="2"></td></tr>
					<tr><td>wyjście 3</td><td><input type="checkbox" name="Q_3" id="q-0-3" class="output" data-port="0" data-bit="3"></td></tr>
					<tr><td>wyjście 4</td><td><input type="checkbox" name="Q_4" id="q-0-4" class="output" data-port="0" data-bit="4"></td></tr>
					<tr><td>wyjście 5</td><td><input type="checkbox" name="Q_5" id="q-0-5" class="output" data-port="0" data-bit="5"></td></tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

		{% block javascripts %}
			{{ parent() }}

			<script src="{{ asset('bundles/pjplscada/js/scada-panel.js') }}"></script>
			<script src="{{ asset('bundles/pjplscada/js/scada-panel-app.js') }}"></script>
		{% endblock %}